<%= render 'shared/navbar' %>

<div class="page-frame center-item">
  <div class="soustitrepage container">
    <h2>Nos réalisations en Assitance à Maîtrise d'Ouvrage</h2>
  </div>

  <div class="container-fluid">
    <div class="row realisations">

      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("AMO_chercheur_palaiseau_perspective_bub6ec.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Palaiseau Plateau de Saclay</h4></div>
      </div>

      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("Roubaix_grande_rue_wflkqi.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Roubaix Grande Rue</h4></div>
      </div>

      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("toulouse_st_cyprien_j9m8hq.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Toulouse St Cyprien</h4></div>
      </div>

      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("Bagnolet_repiblique_zwt4nx.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Bagnolet République</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("marseille_timone_fngzep.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Marseille Timone</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("Capture_d_écran_2017-12-26_à_16.20.53_mivzyd.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Lille-Loos Faculté de Médecine</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("Capture_d_écran_2017-12-26_à_16.23.16_tbcj0u.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Amiens Gare</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("ivry_pc1_zrjrvj.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Ivry</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("Pers_lilas_alexandre_xevpom.png", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Les Lillas</h4></div>
      </div>
    </div>
  </div>
</div>


<div class="page-frame">
  <div class="soustitrepage container">
    <h2>Nos réalisations en promotion</h2>
  </div>

  <div class="container-fluid">
    <div class="row realisations">

      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("vztequzuwzmfbfuzzbhq.jpg", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Pantin</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("vztequzuwzmfbfuzzbhq.jpg", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Nice</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("vztequzuwzmfbfuzzbhq.jpg", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Montreuil</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("vztequzuwzmfbfuzzbhq.jpg", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Versailles 1</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("vztequzuwzmfbfuzzbhq.jpg", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Versailles 2</h4></div>
      </div>
      <div class="col-xs-12 col-md-4 hvr-grow">
        <div class="projet"><%=cl_image_tag("vztequzuwzmfbfuzzbhq.jpg", :height=>200, :width=>330, :crop=>"fill", :background=>"#0e1e48", :opacity=>50)%></div>
        <div class="title"><h4>Toulouse</h4></div>
      </div>
    </div>
  </div>
</div>
