<%= render 'shared/navbar' %>

<div class="page-frame">

  <div class="container">
    <h2>L’offre de Gosselin & Associés Maîtrise d’Ouvrage</h2>

    <div class="text-frame">
       <h5>En 2011, Pierre Gosselin lance son activité d’assistance à maîtrise d’ouvrage spécialisée dans les résidences gérées dont il a l’expertise.</h5>
       <h5>L’offre de Gosselin & Associés Matrise d’Ouvrage est d’apporter son expérience et son expertise lors du montage d’opérations de résidences gérées.</h5>
       <h5>Le but étant d’améliorer et d’optimiser ses opérations. Cette restructuration de l’opération permet au promoteur de gagner entre 10 et 15% du Chiffre d’Affaires. L’offre de G&A est aussi de trouver un gestionnaire de bonne notoriété et de trouver un investisseur.</h5>
    </div>

    <div class="frame-realization">
      <h6>Si on résume l’offre de Gosselin & Associés à l’adresse des promoteurs :
      <br>« Nous vous faisons acheter un billet de 100 avec un billet de 10 »
      Depuis 2011, 16 contrats ont été signés par G&A comme assistant à maîtrise d’ouvrage.</h6>
    </div>

  </div>

  <div class="logo-partenaires container">
  <h2>Ils nous font confiance</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2"> <%= cl_image_tag("selexium_fyaf19.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("logo_axcess_christel_q8agds.png", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("ynov_client_ivry_tzdicq.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("sogeprom_sud_logo_k0ai47.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("pitch_logo_dwj0vi.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("idec_logo_xlscbt.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("m_v_résidence_logo_yzasv6.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("aménageurs_réunis_logo_he9ou0.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("cefim_logo_iljrnq.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("alter_ego_logo_ul43wp.png", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("id_al_logo_fnezcb.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("edim_logo_wasi6a.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("edouard_denis_logo_bitfdl.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("noaho_logo_npbrbb.jpg", :height=>80, :width=>180, :crop=>"fit") %></div>
      <div class="col-xs-6 col-sm-4 col-md-2"><%= cl_image_tag("logo_carissimo_eixomb.png", :height=>80, :width=>180, :crop=>"fit") %></div>
      </div>
    </div>

  </div>
</div>
